body {
    padding: 10%;
    padding-top: 5%;
    background-color: #eeeeee;
}

main {
    height: 300px;
}

#word,
#canswer {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}
#num {
    margin-top: 0;
}

#range {
    margin-top: 20px;
}
.range {
    margin: 0;
}